.msg-error {
  display: inline-block;
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  width: 50%;
  // white-space:nowrap;
  margin: auto 0;
}

#btn {
}
